/* Global tag styling */
/* removing date placeholder */



/* Navbar Component Style */
.Nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85px;
    background-color: #1a284b;
    width: 100%;
}

.poriku-1 {
    margin-left: 30px;
}

.Nav-link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    margin-top: 0px;
}

.Nav-link a {
    text-decoration: none;
    color: white;
}

.Nav-link p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

.Nav-link p:hover {
    text-shadow: 0px 0px 25px  white;
}

.Nav-SIPKU {
    display: flex;
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 20px;
    background-color: rgb(8, 13, 20);
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", serif;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.Nav-SIPKU:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 20px  white;
}


/* Footer Component Style */
.footer {
    display: inline-block;
    height: 80px;
    width: 100%;
    background-color: #1a284b;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-copy {
    margin-top: 28px;
}

.footer p {
    margin-left: 6%;
}

/* Daftar Pengajuan style */
.bg-card {
    width: 94%;
    height: 86%;
    margin: 5px 50px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 20px;
    padding-bottom: 10px;
}

.pengajuan {
    display: grid;
    grid-template-rows: 90px 1fr;
}

.pengajuan-filter {
    background-color:none;
    margin: 8px 8px;
    padding: 20px 35px;
    font-size: 1.2rem;
}

.filter-input1 {
    margin-left: 30px;
    font-family: "Outfit", serif;
    font-size: 1rem;
    height: 22px;
    width: 150px;
}

.filter-label1 {
    margin-right: 20px;
}

.filter-label2 {
    margin-left: 30px;
}

.filter-select {
    margin-right: 30px;
    display: inline-block;
}

.filter-select select {
    height: 25px;
    width: 80px;
    font-size: 1rem;
    font-family: "Outfit", serif;
}

.filter-search {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

.filter-search input {
    margin-left: 20px;
    font-size: 1.3rem;
    height: 30px;
    width: 172px;
    background-color: #fdfdfd;
}

.pagination {
    margin: auto;
    padding: 20px 10px 10px 10px;
}

/* Pengajuan Info Style */
.pengajuan-info {
    background-color: #fdfdfd;
    margin: auto;
    margin-top: 20px;
    height: 100px;
    width: 92%;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 180px 100px repeat(4, 1fr) 1fr 0.5fr;
    column-gap: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #0a0f1b;
}

.info-avatar {
    height: 100%;
    width: 115px;
    display: flex;
    justify-content: center;
}

.info-ubah {
    display: flex;
    padding-right: 35px;
    align-items: center;
    justify-content: space-evenly;
}

.info p {
    margin-bottom: 0px;
}

.info.data {
    margin-top: 12px;
    font-weight: 400;
    font-size: 1rem;
}

.info.data.info-status {
    font-size: 0.9rem;
}

.info.nomor {
    padding-left: 35px;
}

/* Buat Pengajuan Style */
.buat-pengajuan {
    display: grid;
    grid-template-rows: 70px 1fr;
}

.pengajuan-desc {
    display: flex;
    align-items: center;
    margin-left: 35px;
    margin-top: 0px;
    font-size: 1.1rem;
    font-weight: 600;
}

.pengajuan-desc button {
    height: 30px;
    width: 200px;
    margin: auto;
    margin-left: 0px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid white;
    background-color: #1a284b;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.pengajuan-desc button:hover {
    transform: scale(1.1, 1.1);
}

.pengajuan-form-textdata {
    /* display: flex; */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 300px 1fr);
    margin-left: 24px;
    margin-right: 35px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.2rem;
}

.pengajuan-form-textdata label {
    display: flex;
    align-items: center;
    padding-left: 11px;
    margin-bottom: 30px;
}

.pengajuan-form-textdata input {
    display: flex;
    align-items: center;
    height: 25px;
    width: 190px;
}

.pengajuan-date::-webkit-calendar-picker-indicator {
    position: relative;
    right: -65px;
    cursor: pointer;
    opacity: 1;
}

.pengajuan-form-textdata select {
    display: flex;
    align-items: center;
    height: 29px;
    width: 194px;
}

.pengajuan-form-tabledata {
    display: grid;
    grid-template-rows: 50px 1fr;
    height: 100%;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 18px;
}

.pengajuan-form-tableinfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.pengajuan-form-tableinfo label {
    margin-left: 50px;
}

.pengajuan-form-tableinfo input {
    margin-left: 20px;
    height: 25px;
    width: 150px;
    
}

.pengajuan-form-tableinfo-message {
    margin-left: 25px;
}

.table-lock {
    display: flex;
    margin-left: 10px;
}

.head-data {
    font-size: 100px;
}

.table-cell {
    border: 0.8px solid rgb(214, 214, 214);
}

.selected-cell {
    background-color: #f1f1f1;
}

.table-cell textarea {
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    margin: auto;
}

.table-footer-cell {
    border: 0.5px solid rgb(238, 236, 236)
}

.form-submit {
    display: flex;
    justify-content: flex-start;
    margin-top: 13px;
    margin-left: 35px;
}

.form-submit input {
    height: 30px;
    width: 220px;
    margin-right: 60px;
    background-color: #1a284b;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.form-submit input:hover {
    transform: scale(1.1, 1.1);
}

/* Pop up component style */
.popup-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.popup {
    position: inherit;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 550px;
    height: 210px;
    background-color: #f5f6fa;
    border-radius: 20px;
}

.popup.ketentuan {
    width: 80%;
    height: 80%;
}

.ketentuan-text {
    margin: 15px 50px;
    text-align: justify;
    text-justify: inter-word;
}

.popup-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
}

.popup-footer {
    margin-top: 30px;
}

.popup-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Lihat-Edit-Pengajuan Component Style */
.pengajuan-edit-textdata {
    margin-top: 10px;
}
.pengajuan-desc p {
    margin-right: 80px;
}
.pengajuan-desc span {
    padding-left: 20px;
}

/* Styling Lihat-Antrian */
.lihat-antri-table {
    margin: auto;
    margin-top: 20px;
    max-width: 95%;
    max-height: 100%;
    margin-bottom: 10px;
}
.lihat-antri-pagination {
    display: flex;
    justify-content: center;
}

/* Styling Loading */

.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.781);
    z-index: 99;
}

.loading-daftar {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: auto;
    width: 98%;
    height: 200px;
    background: rgba(0, 0, 0, 0.247);
    border-radius: 20px;
}

.loading-antri {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 98%;
    height: 200px;
    background: rgba(0, 0, 0, 0.247);
    border-radius: 20px;
    z-index: 99;
}

.loading-lihat-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 98%;
    height: 250px;
    background: rgba(0, 0, 0, 0.247);
    border-radius: 20px;
}

/* Styling Info SPM Bendahara */
.spm-bend {
    margin-bottom: 40px;
}
.spm-titles {
    margin-left: 30px;
    margin-bottom: 10px;
}
.cari-label {
    margin-left: 30px;
}
.cari-input {
    width: 100px;
    margin-left: 10px;
    height: 20px;
    font-size: 1rem;
    border: none;
    margin-bottom: 20px;
    outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.spm-button {
    margin-left: 50px;
    color: white;
    font-weight: 500;
    height: 25px;
    width: 80px;
    border: 1px solid white;
    background-color: #1a284b;
    border-radius: 20px;
}

.spm-button:hover {
    transform: scale(1.1, 1.1);
}

.embed-container {
    width: 1040px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border: 0.8px solid rgb(214, 214, 214);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.embed-container.embed2 {
    width: 700px;
    height: 432px;
    margin-top: 25px;
}
.cari-spm {
    position: absolute;
    top: -30px;
    left: 0;
    display: flex;
    justify-self: center;
    align-self: center;
    height: 140px;
    width: 100%;
    margin-bottom: 15px;
    border: none;
}
.cari-spm.rincian-spm {
    height: 500px;
}
.rincian-filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 98%;
    margin: auto;
}
.rincian-filter-title {
    display: flex;
    justify-self: center;
    margin-top: 15px;
    margin-bottom: 5px;
}
.rincian-filter-details {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.rincian-filter-details select {
    font-size: 0.68rem;
    height: 22px;
}
.rincian-filter-satker {
    justify-content: flex-start;
    column-gap: 30px;
    margin: 10px auto;

}
.spm-button.rincian {
    margin-top: 10px;
    margin-left: 30px;
}

/* Kelola-Pengajuan Style and Card UI for Kelola-PJK*/
.card {
    border-radius: 12px;
    width: 85%;
    height: 150px;
}
.card-wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-right: 40px;
    width: 97%;
    margin-bottom: 10px;
}


.card-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 25px;
    min-height: 40px;
    font-size: 1.2rem;
}
.card-content {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.wide-card {
    margin-top: 40px;
    margin-bottom: 40px;
}
.wide-card-title {
    margin-left: 30px;
    font-size: 2rem;
}
.wide-card-content {
    margin-bottom: 20px;
}

/* Kelola-Pengajuan Table Style */
.collapsible {
    padding: 15px 45px;
}

.btn-aksi {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 500;
    height: 30px;
    width: 85px;
    border: 1px solid white;
    background-color: #1a284b;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.btn-aksi:hover {
    transform: scale(1.1, 1.1);
}

/* Aksi-Pengajuan */
.aksi-content {
    padding: 30px 10px;
    margin-bottom: 40px;
}

.aksi-content-title {
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 5px;
    font-size: 2rem;
    color: #0a0f1b;
}

.aksi-submit {
    margin-top: 45px;
    margin-left: 110px;
    transform: scale(1.1, 1.1);
}

.aksi-content-label {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 12px;
    column-gap: 10px;
    padding: 10px 35px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
}

.aksi-content-docs {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    margin-bottom: 60px;
}

.docs-label, .docs-input {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
}

.docs-btn {
    height: 30px;
    border-radius: 20px;
    border: solid 0.8px rgb(199, 199, 199);
    font-size: 1rem;
    font-weight: 500;
    padding: 0px 10px;
}

.add-row-btn {
    display: inline-block;
    height: 30px;
    width: 150px;
    margin-top: 10px;
    border-radius: 20px;
    border: solid 0.8px rgb(199, 199, 199);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: white;
    background-color: #1a284b;
}


.type-btn {
    height: 30px;
    width: 230px;
    border-radius: 20px;
    padding-left: 10px;
    border: solid 0.8px rgb(199, 199, 199);
    font-size: 1rem;
    font-weight: 500;
}

.span-row {
    border-radius: 10px;
    font-family: "Outfit", serif;
    font-size: 0.9rem;
    font-weight: 400;
    text-wrap: wrap;
    height: 70px;
    width: 220px;
    grid-row: span 2;
}

.aksi-content-label input[type="date"].type-btn {
    width: 220px;
}

.aksi-content-label input[type="number"].type-btn, 
.aksi-content-label input[type="text"].type-btn {
    width: 220px;
}

.aksi-content-label input[type="date"]::-webkit-calendar-picker-indicator {
    position: relative;
    right: 10px;
    cursor: pointer;
    opacity: 1;
}

.aksi-content-title {
    margin-bottom: 20px;
}

.lampiran-aksi-pengajuan {
    margin-left: 32px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 30px;
}

/* For Aksi-Drpp.jsx */
.aksi-content-label.drpp-content {
    grid-template-rows: 1fr;
    column-gap: 0;
}

/* Kelola-PJK */
.pjk-table {
    padding-top: 40px;
    padding-bottom: 40px;
}

.filter-select2 select {
    margin-left: 20px;
    width: 180px;
}

/* Form Verifikasi.jsx */
.form-verif {
    padding: 10px 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(17, 1fr);
    margin: 10px 0px;
}

.form-verif label {
    font-size: 1.2rem;
    font-weight: 500;
}

.form-verif input, .form-verif select, .form-verif button {
    height: 30px;
    margin-top: 0px;
}


.verif-buttons {
    padding: 5px 30px;
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.verif-btn {
    width: 180px;
    height: 32px;
    background-color: #1a284b;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.verif-btn-pressed {
    background-color: #0a0f1b;
}

.verif-submit-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.verif-find {
    grid-template-rows: 1fr 1fr;

}

.find-btn {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 15px;
}

/* Monitoring DRPP styling */
.filter-monitoring {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Upload Button */
.upload-btn {
    display: flex;
    gap: 20px;
    height: 60px;
    align-items: center;
}
.upload-name {
    font-size: 1.1rem;
    font-weight: 400;
}


/* Trying to add media queries */
@media screen and (max-width: 1400px) {
    /* Styling Navbar */
    .Nav-link p {
        transform: scale(0.8, 0.8);
    }

    /* Styling Footer */
    .footer p {
        transform: scale(0.9, 0.9);
    }

    /* Styling Daftar Pengajuan */
    .bg-card {
        max-width: 1280px;
        height: auto;
        margin: 5px 30px 20px 30px;
        padding-bottom: 20px;
    }

    /* Styling Pengajuan-info */
    .pengajuan-info {
        height: 85px;
        width: 90%;
        font-size: 0.9rem;
        padding-left: 5px;
        grid-template-columns: 150px 70px repeat(4, 1fr) 0.7fr 0.5fr;
    }

    .info.data {
        font-size: 0.8rem;
    }

    .info-avatar {
       width: 95px;
    }

    .info-ubah {
        padding: 20px;
    }

    /* Styling Buat-Pengajuan */
    .pengajuan-desc p {
        font-size: 1rem;
    }
    .pengajuan-desc button {
        width: 180px;
        font-size: 0.9rem;
    }
    .pengajuan-form-textdata {
        grid-template-columns: repeat(2, 200px 1fr);
        font-size: 0.9rem;
    }
    .pengajuan-form-tabledata {
        margin-top: 20px;
    }
    .pengajuan-form-tableinfo {
        font-size: 0.9rem;
    }
    
    /* Styling Info Bendahara */
    .embed-container {
        width: 95%;
    }
    .embed-container.embed2 {
        width: 72%;
    }

    /* Styling card ui */
    .card-title {
        font-size: 1.08rem;
    }
}

@media screen and (max-width: 1400px) {
    .Nav-bar {
        grid-template-columns: 0.5fr 1fr;
    }
}