/* Navbar Component Style */
.Nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85px;
    background-color: #1a284b;
    color: white;
}

.poriku-1 {
    height: 80px;
    margin-left: 30px;
}

.Nav-link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    margin-top: 0px;
}

.Nav-link p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

.Nav-link p:hover {
    text-shadow: 0px 0px 25px  white;
}

.Nav-SIPKU {
    display: flex;
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 20px;
    background-color: rgb(8, 13, 20);
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", serif;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    transition: all 0.2s ease-in-out;
}

.Nav-SIPKU:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 20px  white;
}


/* Footer Component Style */
.footer {
    display: inline-block;
    height: 80px;
    width: 100%;
    background-color: #1a284b;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-copy {
    margin-top: 28px;
}

.footer p {
    margin-left: 6%;
}

/* Daftar Pengajuan style */

.bg-card {
    width: 94%;
    height: 80%;
    margin: 5px 50px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 20px;
}

.pengajuan {
    display: grid;
    grid-template-rows: 70px 1fr;
}

.pengajuan-filter {
    background-color:none;
    margin: 8px 8px;
    padding: 10px 20px;
    font-size: 1.1rem;
}

.filter-input1 {
    margin-left: 30px
}

.filter-label1 {
    margin-right: 20px;
}

.filter-label2 {
    margin-left: 30px;
}

.filter-select {
    margin-right: 30px;
}




/* Trying to add media queries */
@media screen and (max-width: 1280px) {
    /* Styling Navbar */
    .Nav-link {
        grid-template-columns: repeat(3, 220px);
    }
    .Nav-link p {
        transform: scale(0.8, 0.8);
    }

    /* Styling Footer */
    .footer p {
        transform: scale(0.9, 0.9);
    }

    /* Styling Daftar Pengajuan */
    .bg-card {
        width: 980px;
        height: 80%;
        margin: 5px 30px;
    }
}