/* Navbar Component Style */
.Nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85px;
    background-color: #1a284b;
    width: 100%;
}

.poriku-1 {
    height: 80px;
    margin-left: 30px;
}

.Nav-link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    margin-top: 0px;
}

.Nav-link a {
    text-decoration: none;
    color: white;
}

.Nav-link p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

.Nav-link p:hover {
    text-shadow: 0px 0px 25px  white;
}

.Nav-SIPKU {
    display: flex;
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 20px;
    background-color: rgb(8, 13, 20);
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", serif;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    transition: all 0.2s ease-in-out;
}

.Nav-SIPKU:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 20px  white;
}


/* Footer Component Style */
.footer {
    display: inline-block;
    height: 80px;
    width: 100%;
    background-color: #1a284b;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-copy {
    margin-top: 28px;
}

.footer p {
    margin-left: 6%;
}

/* Daftar Pengajuan style */
.bg-card {
    width: 94%;
    height: 86%;
    margin: 5px 50px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 20px;
    padding-bottom: 10px;
}

.pengajuan {
    display: grid;
    grid-template-rows: 90px 1fr;
}

.pengajuan-filter {
    background-color:none;
    margin: 8px 8px;
    padding: 30px 35px;
    font-size: 1.2rem;
}

.filter-input1 {
    margin-left: 30px;
    font-family: "Outfit", serif;
    font-size: 1rem;
    height: 22px;
    width: 150px;
}

.filter-label1 {
    margin-right: 20px;
}

.filter-label2 {
    margin-left: 30px;
}

.filter-select {
    margin-right: 30px;
    display: inline-block;
}

.filter-select select {
    height: 25px;
    width: 80px;
    font-size: 1rem;
    font-family: "Outfit", serif;
}

.pagination {
    margin: auto;
    padding: 20px 10px 10px 10px;
}

/* Pengajuan Info Style */
.pengajuan-info {
    background-color: #fdfdfd;
    margin: auto;
    margin-top: 20px;
    height: 100px;
    width: 92%;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr;
    font-size: 1.1rem;
    font-weight: 600;
    color: #0a0f1b;
}

.info-ubah {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: space-evenly;
}

.info p {
    margin-bottom: 0px;
}

.info.data {
    margin-top: 12px;
    font-weight: 400;
}

.info.nomor {
    padding-left: 35px;
}

/* Buat Pengajuan Style */
.buat-pengajuan {
    display: grid;
    grid-template-rows: 70px 1fr;
}

.pengajuan-desc {
    display: flex;
    align-items: center;
    margin-left: 35px;
    margin-top: 0px;
    font-size: 1.1rem;
    font-weight: 600;
}

.pengajuan-desc button {
    height: 30px;
    width: 200px;
    margin: auto;
    margin-left: 30px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid white;
    background-color: #1a284b;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.pengajuan-desc button:hover {
    transform: scale(1.1, 1.1);
}

.pengajuan-form-textdata {
    display: flex;
    margin-left: 24px;
    margin-right: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pengajuan-form-textdata label {
    display: flex;
    align-items: center;
    padding-left: 11px;
}

.pengajuan-form-textdata input {
    margin: auto;
    height: 20px;
    width: 150px;
}

.pengajuan-form-textdata select {
    margin: auto;
    height: 29px;
    width: 150px;
}

.pengajuan-form-tabledata {
    display: grid;
    grid-template-rows: 50px 1fr;
    height: 100%;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 25px;
}

.pengajuan-form-tableinfo {
    display: flex;
    align-items: center;
}

.pengajuan-form-tableinfo label {
    margin-left: 50px;
}

.pengajuan-form-tableinfo input {
    margin-left: 20px;
    height: 20px;
    width: 100px;
}

.head-data {
    font-size: 100px;
}

.table-cell {
    border: 0.8px solid rgb(214, 214, 214);
}

.selected-cell {
    background-color: #f1f1f1;
}

.table-cell textarea {
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    margin: auto;
}

.table-footer-cell {
    border: 0.5px solid rgb(238, 236, 236)
}

.form-submit {
    display: flex;
    justify-content: flex-start;
    margin-top: 13px;
    margin-left: 35px;
}

.form-submit input {
    height: 30px;
    width: 220px;
    margin-right: 60px;
    background-color: #1a284b;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.form-submit input:hover {
    transform: scale(1.1, 1.1);
}

/* Pop up component style */
.popup-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.popup {
    position: inherit;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 550px;
    height: 210px;
    background-color: #f5f6fa;
    border-radius: 20px;
}

.popup-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-size: 400;
}

.popup-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Trying to add media queries */
@media screen and (max-width: 1400px) {
    /* Styling Navbar */
    .Nav-bar {
        min-width: 1280px;
    }
    .Nav-link {
        grid-template-columns: repeat(3, 220px);
    }
    .Nav-link p {
        transform: scale(0.8, 0.8);
    }

    /* Styling Footer */
    .footer {
        min-width: 1280px;
    }
    .footer p {
        transform: scale(0.9, 0.9);
    }

    /* Styling Daftar Pengajuan */
    .bg-card {
        max-width: 1280px;
        height: auto;
        margin: 5px 30px 20px 30px;
        padding-bottom: 20px;
    }

    /* Styling Pengajuan-info */
    .pengajuan-info {
        height: 85px;
        width: 90%;
        font-size: 1rem;
    }

    .info-ubah {
        padding: 20px;
    }

    /* Styling Buat-Pengajuan */
    .pengajuan-desc p {
        font-size: 1rem;
    }
    .pengajuan-desc button {
        width: 180px;
        font-size: 0.9rem;
    }
    .pengajuan-form-textdata {
        font-size: 0.9rem;
    }
    .pengajuan-form-textdata label {
        width: 110px;
    }
    .pengajuan-form-textdata input {
        width: 100px;
        margin-left: 10px;
    }
    .pengajuan-form-textdata select {
        width: 80px;
    }
    .pengajuan-form-tabledata {
        margin-top: 20px;
    }
}