html {
    height: 100%;
    overflow: hidden;
}

body, button, input, select {
    margin: 0px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}