/* Login Page */
.login-home {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/BG_Bendahara.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;

}

.login-bg {
    margin: auto;
    margin-top: 100px;
    height: auto;
    width: 600px;
    background-color: #fdfdfd;
    border-radius: 15px;
}

.login-logo-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 0px;
    width: 100%;
}

.login-logo {
    height: 100px;
    width: 100px;
}

.login-title {
    display: grid;
    grid-template-rows: 110px 60px 1fr;
    color: #1a284b;
}

.title-1, .title-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.5rem;
    font-weight: 600;
}

.title-1 {
    height: 100px;
}

.title-2 {
    height: 5px;
    margin-top: 0px;
}

.login-title h3 {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    margin: 0px;
    font-weight: 600;
}

.login-content {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.login-form {
    display: grid;
    grid-template-rows: repeat(3, 60px);
    margin-bottom: 70px;
}

.login-form a {
    margin: auto;
}

.login-form input {
    margin: auto;
    height: 35px;
    width: 350px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    padding-left: 10px;
}

.login-gaji {
    display: grid;
    grid-template-rows: 50px 1fr;
    font-size: 1.1rem;
}

.login-gaji-p1, .login-gaji-p2 {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    transition: all 0.2s ease-in-out;
}

.login-gaji-p2 {
    width: 100px;
    margin: auto;
    margin-bottom: 60px;
}

.login-gaji-p2:hover {
    transform: scale(1.2, 1.2);
}

/* Home Page */
.home-content {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url("../assets/BG_Home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-title {
    margin-top: auto;
}

.welcome-title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4.5rem;
    margin-bottom: 10px;
    min-width: 1280px;
    width: 100%;
}

.welcome-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
    margin-bottom: auto;
    margin-right: 15%;
    margin-left: 15%;
}

.welcome-buttons button {
    height: 60px;
    width: 280px;
    min-width: 250px;
    border: none;
    border-radius: 35px;
    background-color: #1a284b;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", serif;
    font-weight: 600;
    font-size: 1.7rem;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.644);
    transition: all 0.2s ease-in-out;
}


  .welcome-buttons button:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 1px 30px rgb(255, 255, 255);
  }

/* Main Page */

.bendahara-home {
    min-height: 100vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: 240px auto;
    padding-bottom: 0px;
    align-items: start;
    grid-template-rows: 1fr;
}

.dash-tab {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Ensures sidebar takes full height of the viewport */
    height: auto;
    background-color: #f5f6fa;
}

.dash-title {
    background-color: #f5f6fa;
    display: flex;
    padding-left: 31px;
    font-size: 1.1rem;
    color: #0a0f1b;
    border: 1px solid rgb(214, 214, 214);
}

.page-content {
    max-width: 100%; /* Prevents content from overflowing */
    overflow-x: hidden; /* Allows scrolling instead of overflow */
    word-wrap: break-word; /* Ensures text doesn't push the width */
    grid-column: 2/3;
    grid-row: 1/4;
    background-color: #fcfcfc;
}

.content-title {
    color: #0a0f1b;
    padding: 25px 51px 20px 51px;
    margin: 0px;
    font-size: 2.5rem;
}

.dash-content {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #f5f6fa;
    border: 1px solid rgb(214, 214, 214);
    border-top: 0px;
}

.padd-span-bend {
    padding-left: 20px;
}

.dash-button {
    display: flex;
    align-items: center;
    margin: 10px 10px 0px 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    background-color: #f5f6fa;
    color: #0a0f1b;
    /*The button that got clicked will have this bg color: background-color: #e8ebf1; will add with On Click*/
    border: none;
    border-radius: 15px;
}

.dash-button:hover {
    background-color: #edeff4;
}

.btn-selected {
    background-color: #d1d5d8;
}

.btn-selected:hover {
    background-color: #b9bcbe;
}

.dash-user {
    background-color: #f5f6fa;
    display: flex;
    align-items: center;
    padding-left: 26px;
    font-size: 1.3rem;
    color: #0a0f1b;
    border: 1px solid rgb(214, 214, 214);
    border-top: 0px;
    font-weight: 500;
}



  /* Adding Media Queries */
@media screen and (max-width: 1400px) {
    /* Sizing Login Page */
    .login-logo {
        height: 75px;
        width: 75px;
    }
    .login-bg {
        margin-top: 30px;
        width: 480px;
    }
    .login-title {
        grid-template-rows: 63px 35px 1fr;
    }
    .title-1, .title-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1.7rem;
    }
    .title-1 {
        height: 55px;
    }
    .login-title h3 {
        font-size: 1.3rem;
    }
    .login-form {
        margin-bottom: 25px;
        grid-template-rows: repeat(3, 50px);
    }
    .login-form input {
        height: 32px;
        width: 300px;
    }
    .login-gaji {
        grid-template-rows: 30px 1fr;
        font-size: 0.9rem;
    }
    .login-gaji-p2 {
        margin-bottom: 30px;
    }


    /* Sizing Home Page */
    .home-content{
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-x:scroll;
    }

    .welcome-title {
        padding-top: 30px;
    }

    .welcome-title, .welcome-buttons button {
        transform: scale(0.8, 0.8);
    }
    
    .welcome-buttons button:hover {
        transform: scale(0.9, 0.9);
    }

    /* Sizing Main Page */
    .dash-title {
        padding-left: 25px;
    }
    .dash-title h2 {
        transform: scale(0.9, 0.9);
    }

    .padd-span-bend {
        padding-left: 15px;
    }

    .dash-content button {
        transform: scale(1, 1);
        font-size: 0.9rem;
    }

    .dash-user {
        font-size: 1.1rem;
    }

    .content-title {
        padding: 25px 35px 20px 35px;
        font-size: 2rem;
    }

}